<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.xf.demo">



<!--    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">-->
    <application
        android:supportsRtl="true">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--替换成你自己的KEY-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e91b306f59162ad3d8771e2885dfbaf3" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <service android:name="me.kjx.amaplocation.AmapBackGroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            />
    </application>

</manifest>